<div class="page-header">
    <h1>Hello from REGISTER route</h1>
</div>

<!-- THIS IS MY FORM ENTRY FOR THE REDBLADE PROJECT -->
<form>
    <!-- ID number -->
    <label>ID Number:</label>
    <input class="form-control" type="text" name="idNumber" placeholder="Customer ID Number">
    <br>
    <!-- first name -->
    <label>First Name:</label>
    <input class="form-control" type="text" name="firstName" placeholder="First Name">
    <br>
    <!-- last name -->
    <label>Last Name:</label>
    <input class="form-control" type="text" name="lastName" placeholder="Last Name">
    <br>
    <!-- email -->
    <label>Email:</label>
    <input class="form-control" type="text" name="email" placeholder="Email">
    <br>
    <!-- phone -->
    <label>Phone:</label>
    <input class="form-control" type="text" name="phoneNumber" placeholder="Phone Number">
    <br>

    <!-- NEEDS ANOTHER SOLUTION -->

    <!-- address 1 -->

    <!-- address 2 -->

    <!-- address 3 -->
    <button class="btn btn-primary" type="submit">Submit</button>
</form>